<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<style type="text/css">
    TD, TH {
        padding: 5px;
        border: 1px solid #fff;
        text-align: left;
        vertical-align: top;
    }
</style>

<head>
    <title>TODO LISTS</title>
</head>
<body>

<h3>Todo lists</h3>

<table>
    <tr>
        <th></th>
        <th>Список</th>
        <th>Дела</th>
    </tr>
    <th:block th:each="todolist : ${todolists}">
        <tr>
            <td th:text="${todolist.getId()}"/>
            <td th:text="${todolist.getName()}"/>
            <td>
                <table border="5">
                    <th:block th:each="task : ${todolist.getTaskList()}">
                        <tr>
                            <td th:text="${task.getId()}"/>
                            <td th:text="${task.getName()}"/>
                            <td th:text="${task.getDone()}"/>
                            <td>
                                <form method="POST" th:action="@{'/check-task'(id=${task.getId()})}">
                                    <input type="submit" value="check done">
                                </form>
                            </td>
                        </tr>
                    </th:block>
                </table>

                <form th:object="${task}" method="POST" th:action="@{'/add-task'(list-id=${todolist.getId()})}">
                    <table>
                        <tr>
                            <td><label>New task:</label></td>
                            <td><input type="text" th:field="*{name}"/></td>
                            <td><input type="submit" value="add"></td>
                        </tr>
                    </table>
                </form>

            </td>
            <td>
                <form method="POST" th:action="@{'/remove-todolist'(id=${todolist.getId()})}">
                    <input type="submit" value="remove list">
                </form>
            </td>
        </tr>
    </th:block>
</table>

<h3>Add new todo list</h3>
<form th:object="${todolist}" method="POST" action="/add-todolist">
    <tr>
        <td><label>Name:</label></td>
        <td><input type="text" th:field="*{name}"/></td>
    </tr>
    <br>
    <input type="submit" value="add">
</form>

</body>
</html>
